$c-scrollbar-track: #161616;
$c-scrollbar-thumb: #d83b3b;

$c-scroller-top: 55, 215, 202;

$c-bg: #fafafa;

// primary
$c-orange: #FD6C1F;
$c-orange-gradient: linear-gradient(138deg, #fd6b1e 0%, #d93908 100%);;


// secondary
$c-yellow: #FFD512;
$c-green: #19FB9B;
$c-brown: #941726;


// Gray palette

$c-text: #C9C9C9;
$c-black: #000000;
$c-white: #FFFFFF;
$c-black-gray: #090909;





