$space-10: clamp(5px, px_to_vw(10), 10px);
$space-20: clamp(10px, px_to_vw(20), 20px);
$space-25: clamp(10px, px_to_vw(25), 25px);
$space-30: clamp(15px, px_to_vw(30), 30px);
$space-35: clamp(15px, px_to_vw(35), 35px);
$space-40: clamp(20px, px_to_vw(40), 40px);
$space-45: clamp(22px, px_to_vw(45), 45px);
$space-50: clamp(25px, px_to_vw(50), 50px);
$space-60: clamp(30px, px_to_vw(70), 60px);
$space-70: clamp(35px, px_to_vw(70), 70px);
$space-80: clamp(40px, px_to_vw(80), 80px);
$space-90: clamp(45px, px_to_vw(90), 90px);
$space-100: clamp(50px, px_to_vw(100), 100px);
$space-110: clamp(50px, px_to_vw(110), 110px);
$space-120: clamp(60px, px_to_vw(120), 120px);
$space-130: clamp(65px, px_to_vw(130), 130px);
$space-140: clamp(70px, px_to_vw(140), 140px);
$space-150: clamp(75px, px_to_vw(150), 150px);
$space-160: clamp(80px, px_to_vw(160), 160px);
$space-180: clamp(90px, px_to_vw(180), 180px);
$space-200: clamp(100px, px_to_vw(200), 200px);
$space-220: clamp(110px, px_to_vw(220), 220px);
$space-230: clamp(115px, px_to_vw(230), 230px);
$space-240: clamp(120px, px_to_vw(240), 430px);
$space-250: clamp(125px, px_to_vw(250), 250px);
$space-260: clamp(130px, px_to_vw(260), 260px);
